.img-management {
  background-image: url("/management.avif");
  background-size: cover;
  background-repeat: no-repeat;
}

.img-capacity {
  background-image: url("/capacity.avif");
  background-size: cover;
  background-repeat: no-repeat;
}

.img-research {
  background-image: url("/research.avif");
  background-size: cover;
  background-repeat: no-repeat;
}
